- if show_filters_pane
  %p
    %b= t('col_filters')
    - supported_filters.each do |attrname, qname, human_name, scope|
      - if params[qname].present?
        %span{:style => 'margin-left: 1em'}
          = link_to "[x]", request.query_parameters.except(qname)
          = human_name
          - op,val=get_op_and_val(params[qname])
          - if op.blank?
            = ":"
          - else
            - next_op={ '≥' => '≤', '≤' => '=', '=' => '≥' }[op]
            = link_to op, request.query_parameters.merge(qname => "#{next_op}#{val}")
          - if scope
            = t(val, scope: scope)
          - else
            = val
