<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Ratings">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">id</Data></Cell>
        <Cell><Data ss:Type="String">track</Data></Cell>
        <Cell><Data ss:Type="String">event_type</Data></Cell>
        <Cell><Data ss:Type="String">title</Data></Cell>
        <Cell><Data ss:Type="String">average rating</Data></Cell>
      </Row>
    <%- @events.each do |event| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= event.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= event.track.name unless event.track.nil? %></Data></Cell>
        <Cell><Data ss:Type="String"><%= event.event_type %></Data></Cell>
        <Cell><Data ss:Type="String"><%= event.title %></Data></Cell>
        <%- if  event.event_ratings_count > 0 %>
          <Cell><Data ss:Type="Number"><%= event.average_rating %></Data></Cell>
        <%- else %>
          <Cell></Cell>
        <%- end %>
      </Row>
    <%- end %>
    </Table>
  </Worksheet>
</Workbook>
